@page
@model DoAn_WEB.Pages.ProductLog.DeleteProduct


<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <form class="form-inline" method="post">
        <div class="form-group mb-2">
            <label class="sr-only">Bạn chắc chắn xoá mặt hàng số @Model.id :</label>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Xoá</button>
    </form>
    <a href="./ListProduct">Trở lại</a>
    <p>@Model.print</p>
</div>
</body>
</html>